.home-page {
    background-color: $dark-grey;
    padding-bottom: 12rem;

    &__container {
        @include container;
    }

    &__title {
        padding: 6rem 0;
        font-size: 5.0rem;
        font-weight: 100;

        @media screen and (max-width: 600px) {
            font-size: 4rem;
        }
    }
}
