.json-formatter {
    &__container {
        @include container;
    }

    &__title {
        padding: 5rem 0;
        font-size: 3.5rem;
        font-weight: 100;

        @media screen and (max-width: 600px) {
            font-size: 3rem;
        }
    }
}
